# generated project
/cir_sounder.tcl
cir_sounder*/

build/
__pycache__/
*.pyc

# Vivado checkpoints
*.dcp
checkpoints/

# macOS
.DS_Store

# Vivado
*.log
*.jou
*.pb
*.cache/
*.hw/
*.runs/
*.sim/
*.ip_user_files/
xsim.dir/
.Xil/

# Dev-only files
dev_references/
sw_mmWaveRFE_cirdemo/
